body {
    background: #24353f;
    font-family: "Titillium Web", sans-serif;

}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1 {
    color: #17a2b8;

}
input {
    background-color: transparent !important;
    color: #fff !important;
}
.form-control {
box-shadow: none !important;

}
.form-control:focus {
border-color: #80bdff;
    outline: 0;

}
input::placeholder{
  color:#ced4da !important;
}
a.link {
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}
ul.nav{
  margin-left: auto !important;
}
.btn-outline-warning{
  border-color: #ffc107 !important;
}